django/venv/
django/db.sqlite3
django/backend/__pycache__/
django/__pycache__/
django/.idea/
django/backend/migrations/*.py
!django/backend/migrations/__init__.py
frontend/.vscode/
frontend/node_modules/

.DS_Store
Thumbs.db